html[data-theme='light'] .darklight-selector-container-light {
	display: block;
}

html[data-theme='light'] .darklight-selector-container-dark {
	display: none;
}

html[data-theme='dark'] .darklight-selector-container-light {
	display: none;
}

html[data-theme='dark'] .darklight-selector-container-dark {
	display: block;
}